#Protect .htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>



#FreeScript
AddDefaultCharset UTF-8
<IfDefine !Free>
<IfModule  mod_headers.c>
Header set Cache-Control "private, max-age=0, must-revalidate"
Header set X-UA-Compatible "IE=8; IE=9; IE=10"
</IfModule>
</IfDefine>


