<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="icon" href="/img/favicon.ico">

<link href="/css/bootstrap.css" rel="stylesheet">

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>

